*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: rgb(18, 189, 232);
}

body{
    background-color: rgb(40, 45, 49);
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

.main-container{
    display: grid;
    max-width: 1378px;
    grid-template-columns: 350px 1fr;
    gap: 60px;
    padding: 50px;
    margin: auto;
}

.side-bar{
    height: 90vh;
    background-color: rgb(27 28 28);
    border-radius: 10px;
    padding: 20px;
    position: sticky;
    padding: 40px;
    top: 40px;
}


/* profile section */
.profile{
    padding: 20px;
    text-align: center;
}
.profile img{
    height: 100px;
    width: 107px;
    border-radius: 50%;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700px;
    margin-top: 20px;
}
.profile p{
    background-color: black;
    border-radius: 10px;
    color: rgb(90, 239, 255);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px rgb(4, 131, 147);
}

/* contact section */
.contact{
    margin-top: 2px;
    border-top: 1px solid rgb(14, 205, 239);
    padding: 10px;
    margin: 5px;  
    border-bottom: 1px solid rgb(14, 205, 239);  
}
.label{
    color: rgb(35 127 143);
    font-size: 1rem;
}
.value{
    color: antiquewhite;
    font-size: 0.8rem;
    text-decoration: none;
}
.email, .phone{
    margin-bottom: 15px;
}

/* Social section */
.social{
    padding: 10px;
    margin: 5px;  
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: brightness(0) saturate(100%) invert(71%) sepia(44%) saturate(1201%) hue-rotate(150deg) brightness(106%) contrast(102%);
    transition: filter 2s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

/* Main Content */

.main-content{
    background-color: rgb(27 28 28);
    border-radius: 10px;
    padding: 40px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}


#navigation{
    padding-top: 0px;
    border-bottom: 0.2px solid rgb(8, 220, 227);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav a{
    text-decoration: none;
    font-weight: 500px;
    font-size: 20px;
    color: rgb(22, 117, 117);
    transition: all;
}
nav a:hover , .active{
    border: 1px solid black;
    border-radius: 3.40282e38px;;
    background: transparent;
    transform: scale(1);
    padding: 9px;
    box-shadow: 0px 0px 20px 3px rgb(7, 124, 137);
    transition-duration: 0.4s;
    transition-timing-function: var(ease);
    color: aqua;
}

/* About Me */
#about{
   padding-bottom: 20px; 
}

#about h2{
    padding-bottom: 20px;
    font-size: 2rem;
}
.line{
    width: 61px;
    height: 5px;
    margin-bottom: 15px;
    background-color: aqua;
}

.content{
    text-align: justify;
    color: rgb(144, 165, 171);
}

/* Skills */

#skills h2{
    padding-bottom: 20px;
    font-size: 2rem;
}

.items img{
    height: 100px;
    width: 100px;
    filter: brightness(0) saturate(100%) invert(71%) sepia(44%) saturate(1201%) hue-rotate(150deg) brightness(106%) contrast(102%);
    transition: filter 2s ease;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    background: transparent;
}

.items img:hover{
    background: transparent;
    transform: scale(1);
    padding: 9px;
    box-shadow: 0px 0px 20px 3px rgb(2, 61, 67);
    transition-duration: 0.4s;
    transition-timing-function: var(ease);
    color: aqua;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
    text-align: center;
}

#skills{
    padding-bottom: 20px
}

/* Education Section */

#education{
    margin-top: 10px;
}
#education h2{
    padding-bottom: 20px;
    font-size: 2rem;
}

.edtech{
    position: relative;
    margin-top: 20px;
}

.edu1 , .edu2{
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px ;
}

.year{
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(3, 128, 135);
}

.degree{
    margin-bottom: 5px;
    color: rgb(15, 227, 238);
}

.college{
    font-style: italic;
    margin-bottom: 10px;
    color: rgb(147, 185, 187);
}
.learning{
    padding-bottom: 20px;
}

.pointer{
    height: 15px;
    width: 15px;
    border: 3px solid aqua;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 7;
    background-color: black;
}

.liner{
    position: absolute;
    width: 2px;
    top: 6px;
    bottom: 0px;
    border: 1px solid rgb(3, 128, 135);
    left: 6.5px;
}

/* Projects */

#projetcs{
    margin-top: 15px;
}
#projects h2{
    padding-bottom: 20px;
    font-size: 2rem;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 10px;
}

.project{
    background: transparent;
    border: 1px solid rgb(6, 91, 99);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 10px;
}

.project:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 5px rgb(2, 96, 96);
}

.card{
    padding: 10px;
}
.card h3{
    color: beige;
    margin-bottom: 10px;
}
.card p{
    color: rgb(131, 185, 185);
    line-height: 1.3;
    padding-bottom: 15px ;
}

.card span{
    background: transparent;
    border: 1px solid aqua;
    border-radius: 10px;
    color: rgb(24, 167, 167);
    padding: 4px 8px;
    margin-right: 5px;
}

.card img{
    height: 54px;
    width: 54px;
    margin-left: 100px;
    margin-bottom: 0px;
    filter: brightness(0) saturate(100%) invert(71%) sepia(44%) saturate(1201%) hue-rotate(150deg) brightness(106%) contrast(102%);
}

.card img:hover{
    filter: grayscale(0) invert(0);
}

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .side-bar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .side-bar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}